body {
  background-color: #888;
  font-family: sans-serif;
}

main, header, footer {
  width: 75%;
  margin: 0 auto;
}

h1, h2 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#img-section {
  display: inline-block;
}

#img-section img {
  padding: 10px;
  width: 30%;
  height: 30%;
}

#reset-button {
  display: none;
}
